@keyframes fade {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.fade {
    animation: fade 3s ease forwards;
}

.fade.reverse {
    animation-direction: reverse;
}

.loading-screen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    background: url("../../../../load.png") no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: tan;
    text-shadow: 0 0 0.1vw var(--brown-4), 0 0 0.2vw var(--brown-4), 0 0 0.3vw var(--brown-4);
    user-select: none;
    padding: 0 20vw;
    padding-bottom: 5vh;
    box-sizing: border-box;
    opacity: 1;
}

.loader-text {
    font-size: var(--medium);
    margin-bottom: 1.5vh;
    text-align: center;
    order: 1;
}

.loader-bar {
    width: 100%;
    height: 5vh;
    background: linear-gradient(90deg, var(--brown-1), var(--brown-3));
    box-shadow: .5vw .5vw 0 var(--brown-1);
    border-radius: .5vw;
    overflow: hidden;
    order: 2;
}

.loader-fill {
    height: 100%;
    width: 0%;
    background: linear-gradient(to bottom right, var(--brown-5), var(--brown-8));
    box-shadow: 0 .5vw .5vw var(--brown-3) inset;
    transition: all .25s;
}

.loader-tip {
    font-size: var(--medium);
    margin-top: 2.5vh;
    max-width: 100%;
    text-align: center;
    order: 3;
}