.popup-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50vw;
    height: auto;
    aspect-ratio: 1.5;
    box-shadow: .5vw .5vw .5vw var(--brown-1), -.5vw .5vw .5vw var(--brown-1);
    border-radius: 4vw;
}

.popup-window-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 40%;
    background-color: var(--brown-7);
    border-radius: 4vw 4vw 0 0;
    box-shadow: 0 -.5vw .5vw var(--brown-1) inset;
    overflow: hidden;
}

.popup-window-icon {
    height: 80%;
    width: auto;
}

.popup-window-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 65%;
    background-color: var(--brown-10);
    border-radius: 0 0 4vw 4vw;
    color: tan;
    text-shadow: 0 .25vw .25vw var(--brown-2), 0 .25vw .25vw var(--brown-2);
    font-weight: bold;
    text-align: center;
}

.popup-window-warning {
    color: var(--brown-6);
    font-weight: bolder;
    font-size: clamp(3vw, 2vw + 2vh, 4vw);
}

.popup-window-message {
    width: 95%;
    font-size: clamp(1vw + 1vh, 1.15vw + 1.15vh, 2vw + 2vh);
}

.popup-window-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
    width: 75%;
    height: 20%;
}

.popup-window-options button {
    width: 40%;
    height: 90%;
    border: none;
    border-radius: 1vw;
    color: tan;
    text-shadow: 0 .25vw .25vw var(--brown-2);
    font-weight: bolder;
    font-size: clamp(.5vw + .5vh, 1vw + 1vh, 1.5vw + 1.5vh);
    transition: .25s;
    box-shadow: .5vw .5vw 0 var(--brown-2), -.25vw -.25vw .25vw var(--brown-3) inset;
}

.popup-window-options button:hover {
    transform: translateY(-.5vh);
    box-shadow: -.5vw .5vw 0 var(--brown-2), .25vw -.25vw .25vw var(--brown-3) inset;
}

.popup-yes { background-color: var(--brown-8); }
.popup-no  { background-color: var(--brown-9); }
.popup-ok  { background-color: var(--brown-8); }